# Cleaning AirBnB Listing Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sb
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
import math
import pylab
import scipy.stats as stats
%matplotlib inline

In [3]:
cols = [
    'id',
    'host_id',
    'zipcode',
    'property_type',
    'room_type',
    'accommodates',
    'bedrooms',
    'beds',
    'bed_type',
    'price',
    'number_of_reviews',
    'review_scores_rating',
    'host_listing_count',
    'availability_30',
    'minimum_nights',
    'bathrooms'
]

data = pd.read_csv('abnb-listings.csv', usecols=cols)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (0,5,22,23,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
data.head(10)

,id,host_id,zipcode,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,host_listing_count
0,1069266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1846722,2631556.0,NaN,Apartment,Entire home/apt,10.0,1.0,3.0,3.0,Real Bed,$105.00,1.0,28.0,22.0,85.0,2.0
2,2061725,4601412.0,11221,Apartment,Private room,2.0,1.0,1.0,2.0,Real Bed,$58.00,3.0,4.0,35.0,98.0,4.0
3,44974,198425.0,10011,Apartment,Entire home/apt,2.0,1.0,1.0,1.0,Real Bed,$185.00,10.0,1.0,26.0,96.0,1.0
4,4701675,22590025.0,10011,Apartment,Entire home/apt,2.0,1.0,1.0,2.0,Real Bed,$195.00,1.0,30.0,1.0,100.0,1.0
5,68914,343302.0,11231,Apartment,Entire home/apt,6.0,1.0,2.0,3.0,Real Bed,$165.00,2.0,11.0,16.0,96.0,2.0
6,4832596,4148973.0,11207,Apartment,Private room,2.0,1.0,1.0,1.0,Real Bed,$80.00,1.0,29.0,0.0,NaN,1.0
7,2562510,13119459.0,10013,Apartment,Private room,2.0,1.0,1.0,1.0,Real Bed,$120.00,2.0,5.0,0.0,NaN,1.0
8,3005360,4421803.0,10003,Apartment,Entire home/apt,4.0,1.0,2.0,2.0,Real Bed,$150.00,1.0,30.0,14.0,96.0,4.0
9,2431607,4973668.0,11221,Apartment,Shared room,2.0,1.0,1.0,1.0,Real Bed,$40.00,4.0,0.0,10.0,94.0,4.0

In [5]:
len(data['zipcode'][data.zipcode.isnull()])

169

In [6]:
# check the number of missing values in each column
for col in data.columns:
    print (col + ', Number of Missing Values:', len(data[col][data[col].isnull()]))

id, Number of Missing Values: 0
host_id, Number of Missing Values: 3
zipcode, Number of Missing Values: 169
property_type, Number of Missing Values: 14
room_type, Number of Missing Values: 9
accommodates, Number of Missing Values: 8
bathrooms, Number of Missing Values: 470
bedrooms, Number of Missing Values: 149
beds, Number of Missing Values: 106
bed_type, Number of Missing Values: 8
price, Number of Missing Values: 8
minimum_nights, Number of Missing Values: 9
availability_30, Number of Missing Values: 9
number_of_reviews, Number of Missing Values: 10
review_scores_rating, Number of Missing Values: 8666
host_listing_count, Number of Missing Values: 11

### 1. Remove NaN Values

In [7]:
# NaN is acceptable for review_scores_rating
origin = len(data)
data = data.dropna(how='any', subset=['zipcode', 'property_type', 'bedrooms', 'beds', 'bathrooms'])
print('Number of NaN values removed:', origin - len(data))

Number of NaN values removed: 776

### 2. Replace Error Data

In [8]:
data['price'] = (data['price'].str.replace(r'[^-+\d.]', '').astype(float))

C:\Users\juoer\AppData\Local\Temp/ipykernel_13512/1159581109.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['price'] = (data['price'].str.replace(r'[^-+\d.]', '').astype(float))

### 3. Drop Invalid Data

In [9]:

print ('Num of Accommodates 0:', len(data[data['accommodates'] == 0]))
print ('Num of Bedrooms 0:', len(data[data['bedrooms'] == 0]))
print ('Num of Beds 0:', len(data[data['beds'] == 0]))
print ('Num of Listings w/ Price $0.00:', len(data[data['price'] == 0.00]))

data = data[data['accommodates'] != 0]
data = data[data['bedrooms'] != 0]
data = data[data['beds'] != 0]
data = data[data['price'] != 0.00]

Num of Accommodates 0: 0
Num of Bedrooms 0: 2321
Num of Beds 0: 0
Num of Listings w/ Price $0.00: 0

### 4. Fix Non-Five Digit Zip Codes

In [10]:
data['zipcode'] = data['zipcode'].str.replace(r'-\d+', '')
data.head()

C:\Users\juoer\AppData\Local\Temp/ipykernel_13512/2220809592.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['zipcode'] = data['zipcode'].str.replace(r'-\d+', '')

,id,host_id,zipcode,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,host_listing_count
2,2061725,4601412.0,11221,Apartment,Private room,2.0,1.0,1.0,2.0,Real Bed,58.0,3.0,4.0,35.0,98.0,4.0
3,44974,198425.0,10011,Apartment,Entire home/apt,2.0,1.0,1.0,1.0,Real Bed,185.0,10.0,1.0,26.0,96.0,1.0
4,4701675,22590025.0,10011,Apartment,Entire home/apt,2.0,1.0,1.0,2.0,Real Bed,195.0,1.0,30.0,1.0,100.0,1.0
5,68914,343302.0,11231,Apartment,Entire home/apt,6.0,1.0,2.0,3.0,Real Bed,165.0,2.0,11.0,16.0,96.0,2.0
6,4832596,4148973.0,11207,Apartment,Private room,2.0,1.0,1.0,1.0,Real Bed,80.0,1.0,29.0,0.0,NaN,1.0

In [11]:
print('Num of missing review scores:', len(data['review_scores_rating'][data['review_scores_rating'].isnull()]))

Num of missing review scores: 7713

### 5. Investigate Distribution Of Accommodates Column

In [12]:
print('Num of Unique: ', np.unique(data['accommodates']))
for i in range(1, 17):
    print('Accommodation {}:'.format(i), len(data[data['accommodates'] == i]))

TypeError: '<' not supported between instances of 'str' and 'float'

In [13]:
data.groupby('accommodates').agg('count')['id']

accommodates
1.0     1567
2.0     6872
3.0     1783
4.0     2555
5.0      585
6.0      714
7.0      125
8.0      203
9.0       33
10.0      65
11.0       9
12.0      31
13.0       2
14.0       5
15.0       2
16.0      43
1       1075
10        54
11         6
1125       2
12        12
13         2
14         9
15         3
16        26
2       4527
3       1126
4       1723
5        397
6        500
7         92
8        130
9         24
Name: id, dtype: int64